{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Compiled and minified Materialize CSS -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drafting page</title>

</head> --}}

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
</head>
<body>
    <div class="wrapper">

        <header>
            <h1>Draft your Team</h1>
        </header>

        <section class="columns">

            <div class="column">
                <h2>Available Players</h2>
                <div class="container-full">
                    <nav>
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="search" type="search" required>
                                    <label for="search"><i class="material-icons">search</i></label>
                                    <!-- I've put "red-text" class to emphasize -->
                                    <i class="material-icons red-text">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <a class='dropdown-button btn' href='#' data-activates='myDrodown'>Player Sorting Options</a>
                <ul id='myDrodown' class='dropdown-content'>
                    <li><a href="#!">Full List</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Top 3 by Pos</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Quarterbacks</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Running Backs</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Wide Receivers</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Tight Ends</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Kickers</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Defenses</a></li>
                    <li class="divider"></li>

                </ul>

                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Position Rank</th>
                            <th scope="col">Player Name</th>
                            <th scope="col">Team Name</th>
                            <th scope="col">Draft Avg</th>
                            <th scope="col">Bye Week</th>
                            <th scope="col">Draft/Drafted</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
                <div class="col-md-12 center text-center">
                <span class="left" id="total_reg"></span>
                <ul class="pagination pager" id="myPager"></ul>
</div>
            </div>


            <div class="column">
                <h2>Your Players</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Position Rank</th>
                            <th scope="col">Player Name</th>
                            <th scope="col">Team Name</th>
                            <th scope="col">Bye Week</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>

            <script type="text/javascript">

                //Pagination//
                
                $('#myTable').pageMe({
                    pagerSelector: '#myPager',
                    activeColor: 'blue',
                    perPage: 100,
                    showPrevNext: false,
                    nextText: '',
                    prevText: '',
                    hidePageNumbers: false
                });
            </script>

        </section>

        <footer>
            <h3>Footer</h3>
            <br>
            <a class="waves-effect waves-light btn">Draft Complete!</a>
            <p>When you have finished drafting, click the Draft Complete! button and head to your lockeroom.</p>
        </footer>

    </div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/pagination.js"></script>
<script src="/js/drafting.js"></script>