<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drafting page</title>

</head>
<div class="draft-wrapper">

    <header>
        <img src="/images/logo-banner2.jpg">
        <h1>Draft your Team</h1>
    </header>

    <section class="columns">

        <div class="column">
            <h2>Available Players</h2>
            {{!-- <div class="container-full"> --}}
                {{!-- <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="player-search" type="search" required>
                                <label for="search"><i class="material-icons">search</i></label>
                                <!-- I've put "red-text" class to emphasize -->
                                <i class="material-icons red-text">close</i>
                            </div>
                        </form>
                    </div>
                </nav> --}}
            {{!-- </div> --}}
            <div class="input-field col s12">
                <select id="filter">
                    <option value="" disabled selected>Filter Player's by Position</option>
                    <option value="qb">Quarter Backs</option>
                    <option value="rb">Running Backs</option>
                    <option value="wr">Wide Recievers</option>
                    <option value="te">Tight Ends</option>
                    <option value="ds">Defense</option>
                    <option value="k">Kickers</option>
                    <option value="null">Available Players</option>
                </select>
                <label>Position Filter</label>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Position Rank</th>
                        <th scope="col">Player Name</th>
                        <th scope="col">Team Name</th>
                        <th scope="col">Draft Avg</th>
                        <th scope="col">Bye Week</th>
                        <th scope="col">Draft/Drafted</th>
                    </tr>
                </thead>
                <tbody id="a-players">

                </tbody>
            </table>




        </div>

        <div class="column">
            <h2>Your Players</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Position Rank</th>
                        <th scope="col">Player Name</th>
                        <th scope="col">Team Name</th>
                        <th scope="col">Bye Week</th>
                    </tr>
                </thead>
                <tbody id="d-players">

                </tbody>
            </table>



        </div>



    </section>

    <footer>
        <h3>Footer</h3>
        <br>
        <a class="waves-effect waves-light btn" id="draft-complete-btn">Draft Complete!</a>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, porro. Doloribus vitae non dolores modi
            dolorum commodi perspiciatis dicta nostrum minus esse, totam officia, quibusdam amet quas tempora?
            Voluptatibus, esse.</p>
    </footer>

</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/drafting.js"></script>