<!-- Materialize Header 
<div class="navbar-fixed">
  <nav class="#fdd835 yellow darken-1">
    <div class="nav-wrapper">

      <div><img src="images/sm_helmet.png" style="height: 64px; margin-left: 10px;"></div>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li></li>
    <li></li>
    <li></li>

  </ul>
</div> -->


<!-- Materialize Parallax Scroll Feature -->
<div class="parallax-text, turfpaint1">
</div>
<div class="parallax-container">
  <div class="parallax, logo1"></div>
</div>
<div class="parallax-text, turfpaint">

</div>
<div class="parallax-container">
  <div class="parallax, turf">
    <div class="row promo-row">
      <div class="col s3  offset-s2">
        <!-- Promo Content 1 goes here -->
        <i class="large material-icons yellow accent-4">view_headline</i>
        <p class="flow-text promotext">Customize your roster
          <br> Build your team
          <br> Watch players</p>
      </div>
      <div class="col s3">
        <!-- Promo Content 2 goes here -->
        <i class="large material-icons yellow accent-4">trending_up</i>
        <p class="flow-text promotext">Team and player news<br>Stats</p>
      </div>
      <div class="col s3">
        <!-- Promo Content 3 goes here -->
        <i class="large material-icons yellow accent-4">people</i>
        <p class="flow-text promotext">Build your roster View detailed stats, monitor players</p>
      </div>

    </div>
  </div>
</div>
<div class="parallax-text, turfpaint">

</div>
<div class="parallax-container">
  <div class="parallax, turf">
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card yellow darken-1, cardreg">
          <div class="card-content white-text">
            <span class="card-title promo-text">Join Gridiron Kings</span>
            <p class="promo-text">Tired of getting crushed in your weekly games?
              <br>
              It's time to Rule your League and play like a KING!
              <br>
              Win the Title, command Repect, take the Money
              <br>
              Join Gridiron Kings and begin your conquest
              <br>
              <a class="waves-effect waves-green btn-flat btn-large modal-trigger" href="#modal-register">Register </a><a
                class="waves-effect waves-green btn-flat btn-large modal-trigger" href="#modal-login">Member Login</a>
            </p>

          </div>
          <!-- <div class="card-action">
            <a href="#">Register</a>| 
            <a href="#"> Member Login</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Materialize Footer -->
<nav class="#000000 black">
  <div class="nav-wrapper">
    <p class="copyright"> © Copyright 2018 <a href="/drafting">draft</a><a href="/locker">Locker Room</a></p>
    <ul class="left hide-on-med-and-down">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="modal-register" class="modal">
  <div class="modal-content">
    <h4>Modal Register</h4>
    <div class="row">
      <form class="col s12">
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="username-register" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
              <div class="input-field col s12">
                <input id="password-register" type="text" class="validate">
                <label for="username">Password</label>
              </div>
            </div>
        </div>
        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
              <div class="input-field col s12">
                <input id="email-register" type="text" class="validate">
                <label for="username">Email</label>
              </div>
            </div>
            <div class="row">
              <form class="col s12">
                <div class="row modal-form-row">
                  <div class="input-field col s12">
                    <input id="team-register" type="text" class="validate">
                    <label for="username">Team</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-small">Submit</a>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal-login" class="modal">
              <div class="modal-content">
                <h4>Modal Login</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>

            <!-- login Modal -->
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login to your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <input type="text" name="user" placeholder="Username">
                      <input type="password" name="pass" placeholder="Password">
                      <input type="submit" name="login" class="login loginmodal-submit" id="login-modal-btn" value="Login">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
            {{!-- signup modal --}}
            <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign up for an FFC Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="signup-modal">
                    <form action="POST">
                      <p>Create a Username</p>
                      <input type="text" id="signin-username" class="float-right" name="user" placeholder="Username">
                      <p>Create a Password</p>
                      <input type="password" id="signin-password" class="float-right" name="pass" placeholder="Password">
                      <p>Enter Email</p>
                      <input type="email" id="signin-email" class="float-right" name="email" placeholder="Email">
                      <p>Create Team Name</p>
                      <input type="text" id="signin-team" class="float-right" name="team-name" placeholder="Team Name">
                      <input type="submit" name="login" class="signup signUpModal-submit" data-toggle="modal"
                        data-target="#signup-modal" id="signup-modal-btn" value="Create">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="setup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set up your League and Team Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="POST">
                      <p>What type of league are you drafting in?</p>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="radio" aria-label="Radio button for following text input">
                          </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                      </div>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>









            {{!-- <div id="home">
              <div class="container">
                <div class="row">
                  <div class="col-8 offset-2">
                    <h1>{{msg}}</h1>
                    <h2>This is our Home Page!</h2>
                    <form class="clearfix mb-4" action="POST">
                      <div class="form-group">
                        <label for="example-text">Example Text</label>
                        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                          placeholder="Enter Example Text">
                      </div>
                      <div class="form-group">
                        <label for="example-description">Example Description</label>
                        <textarea class="form-control" id="example-description" aria-describedby="example-description"
                          placeholder="Enter Example Description"></textarea>
                      </div>
                      <button id="submit" class="btn btn-primary float-right">Submit</button>
                    </form>
                    <h3>Examples:</h3>
                    <ul id="example-list" class="list-group">
                      {{#each examples}}
                      <li data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.text}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div> --}}

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/js/parallax.js"></script>
            <script src="/js/index.js"></script>