<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Line Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
</head>

<body>
    <header class="jumbotron-lineup">
        <div class="container">
            <h2 class="text-uppercase">Line Up</h2>

            <p class="main-title">User Name</p>

        </div>
    </header>
    <section class="userTeam">
        <div class="starters">
            <center>
                <h4>Users Team</h4>
            </center>
            <ul id="menu">
                <li>Position</li>
                <li>Drafting Pos</li>
                <li>Ranking</li>
            </ul>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>

        </div>
    </section>

    <section>
        <div class="bench">
            <h4>
                <center>Bench</center>
            </h4>
            <ul id="benchMenu">
                <li>Player Name</li>
                <li>Position</li>
                <li>Drafting Position</li>
                <li>Ranking</li>
            </ul>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>

        </div>
    </section>
    <div class="wait list">
        <h4>
            <center>Wait List</center>
        </h4>
        </ul>
        <button type="button" class="btn btn-light">Players name (action to card) </button>
        <span class="add">
            <button type="button" class="btn btn-light">Add</button>
            <span class="drafted">
                <button type="button" class="btn btn-light">Drafted</button>
            </span>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <span class="add">
                <button type="button" class="btn btn-light">Add</button>
                <span class="drafted">
                    <button type="button" class="btn btn-light">Drafted</button>
                </span>
                <br>
                <button type="button" class="btn btn-light">Players name (action to card) </button>
                <span class="add">
                    <button type="button" class="btn btn-light">Add</button>
                    <span class="drafted">
                        <button type="button" class="btn btn-light">Drafted</button>
                    </span>
                    <br>
                    <button type="button" class="btn btn-light">Players name (action to card) </button>
                    <span class="add">
                        <button type="button" class="btn btn-light">Add</button>
                        <span class="drafted">
                            <button type="button" class="btn btn-light">Drafted</button>
                        </span>
                        <br>
                        <button type="button" class="btn btn-light">Players name (action to card) </button>
                        <span class="add">
                            <button type="button" class="btn btn-light">Add</button>
                            <span class="drafted">
                                <button type="button" class="btn btn-light">Drafted</button>
                            </span>
                            <br>
                            <button type="button" class="btn btn-light">Players name (action to card) </button>
                            <span class="add">
                                <button type="button" class="btn btn-light">Add</button>
                                <span class="drafted">
                                    <button type="button" class="btn btn-light">Drafted</button>
                                </span>

    </div>
    </section>

    <section class="activePlayers">
        <div class="availablePlayers">
            <center>
                <h4>Available Players</h4>
            </center>
            <div id="searchform">
                <label class="search">
                    <input id="idSearchBox" class="ui-autocomplete-input DefaultMessage" value="Player Search" msg="Player Search"
                        autocomplete="off">
                </label>
                <div class="DropDown">
                    <select id="cheatSheetOption" ng-model="queueFilter" ng-change="refillQueue()" class="ng-pristine ng-valid ng-touched">
                        <option value="TopEach">Top player from each position</option>
                        <option value="Suggestions" selected="selected">Suggested players to consider</option>
                        <option ng-repeat="rankingsArray" value="nfl_Overall">Overall Rankings</option>
                        <option ng-repeat="rankingsArray" value="nfl_QB">Quarterback (QB)</option>
                        <option ng-repeat="rankingsArray" value="nfl_RB">Running Back (RB)</option>
                        <option ng-repeat="rankingsArray" value="nfl_WR">Wide Receiver (WR)</option>
                        <option ng-repeat="rankingsArray" value="nfl_TE">Tight End (TE)</option>
                        <option ng-repeat="rankingsArray" value="nfl_K">Kicker (K)</option>
                        <option ng-repeat="rankingsArray" value="nfl_DEF">Defense (DEF)</option>
                    </select>
                    <br>
                    <br>
                    <span class="players">
                        <button type="button" class="btn btn-light">Players name (action to card) </button>
                        <span class="add">
                            <button type="button" class="btn btn-light">Add</button>
                            <span class="drafted">
                                <button type="button" class="btn btn-light">Drafted</button>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    </div>


</body>