<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Locker Room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
</head>

<body>

    <header class="jumbotron-locker">
        <div class="container">
            <h2 class="text-uppercase">Locker Room</h2>

            <p class="main-title">Team Name input</p>

            <img src="#" alt="Logo">
        </div>
    </header>

    <section>
        <ul>
            <li>
                <a href="#"> Draft</a>
            </li>
            <li>
                <a href="#"> Set Line Up</a>
            </li>
            <li>
                <a href="#"> News</a>
            </li>
            <li>
                <a href="#"> Standings</a>
            </li>
        </ul>
    </section>
    <section class="userTeam">
        <div class="starters">
            <center>
                <h4>Users Team</h4>
            </center>
            <ul id="menu">
                <li>Opponent</li>
                <li>Bye</li>
                <li>Projections</li>
            </ul>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>

        </div>
    </section>


    <section>
        <div class="bench">
            <h4>
                <center>Bench</center>
            </h4>
            <ul id="benchMenu">
                <li>Opponent</li>
                <li>Bye</li>
                <li>Projections</li>
            </ul>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
            <button type="button" class="btn btn-light">Players name (action to card) </button>
            <br>
        </div>
        <img src="../public/images/locker-room.jpg" alt="lockerRoom">
    </section>
    <br>
    <br>
    <br>
    <section>
        <br>
        <h4>
            <center>Trending News</center>
        </h4>
        <br>
        <div class="row">
            <div class="column">
                <img src="#" alt="News" style="width:100%">
            </div>
            <div class="column">
                <img src="#" alt="News" style="width:100%">
            </div>
            <div class="column">
                <img src="#" alt="News" style="width:100%">
            </div>
            <div class="column">
                <img src="#" alt="News" style="width:100%">
            </div>
        </div>

    </section>

</body>

</html>