$images: (
    top: url(/images/football-stadium-200986.jpg),
    middle: url(/images/fans-view-1846039_1920.jpg),
    bottom: url(/images/loocker-pic.jpg)
    starters: url(../images/crossword.png),
    activePlayers: url(../images/nice_snow.png

));

$padding: (
    parallax-top: 300px 0,
    parallax-middle: 500px 0,
    parallax-bottom: 450px 0,
);

@function Ppadding($padding-parallax) {
    @return map-get($padding, $padding-parallax)
};

@function parallaxImage($img-pos) {
    @return map-get($images, $img-pos)
};

$jumbotron: (
    color: #FFF
);

.title {
    background-image: parallaxImage(top);
    background-size: cover;
    background-position: center;
    padding: Ppadding(parallax-top);
    color: #FFF

}

.fans {
    background-image: parallaxImage(middle);
    background-size: cover;
    background-position: center;
    padding: Ppadding(parallax-middle);
    color: #FFF
}

.about {
    text-align: center;
    background-color: rgb(98, 203, 252);
}

.locker {
    background-image: parallaxImage(bottom);
    background-size: cover;
    background-position: bottom;
    padding: Ppadding(parallax-bottom);
    color: #FFF

}
