
/* Michael CSS */

.parallax-container {
  height: 600px;
  /* border: solid black 1px; */
}

.parallax-text {
height: 250px;
/*background-color: #eceff1;*/
text-align: center;
}

.logo1 {
  background-image: url(/images/logo-banner.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.turfpaint {
  height: 250px;
  background-image: url(/images/turf-lines.jpg);
  background-size: center;
  background-position: center;
}
.turfpaint1 {
  height: 100px;
  background-image: url(/images/turf-lines.jpg);
  background-size: center;
  background-position: center;
}
.turf {
  background-image: url(/images/grass.png);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.promo-row {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: black;
}
.promotext {
  
  color: #ffcc00;
  font-size: 24px;
  font-weight: bold;
}
.material-icons {
  border-radius: 10px;
}

.cardreg {
  border-radius: 10px;
  margin-top: 180px;
  text-align: center
}
.promo-text {
  color: black;
}
.copyright {
  color: #ffcc00;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

p {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 1489px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;

}

footer {
	padding: 0 15px;
}


@media screen and (max-width: 1509px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}